
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font Settings for Material Symbols */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
}

[x-cloak] { display: none !important; }
